streamlit
pandas
numpy
requests
mistralai
folium
streamlit-folium
shapely
leafmap
plotly
matplotlib
contextily
rasterio
openpyxl
tabulate
sqlalchemy
psycopg2-binary
bcrypt
extra_streamlit_components
streamlit-antd-components
google-genai
