streamlit
pandas
numpy
requests
folium
streamlit-folium
shapely
leafmap
plotly
matplotlib
contextily
rasterio
google-genai
openpyxl
tabulate
sqlalchemy
psycopg2-binary
bcrypt
extra_streamlit_components
streamlit-antd-components
